@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: black;
}

.no-pointer {
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* TITLE */
#title {
    display: none;
    width: 40vw;
    transform: translate(-50%, -52.5%);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}


/* NAVIGATION */
.nav-block {
    position: fixed; 
    width: 50%; 
    height: 50%;

    display: block;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow: hidden;
    opacity: 0;
}

.nav-block video {
    z-index: -1 !important;
    padding: 0;
    margin: 0;

    flex-shrink: 0;
    /* min-width: 115%; */
    min-height: 115%;
    /* max-width: 130%; */
    max-height: 130%;

    filter: brightness(70%);
}

#NW { top:0;   left:0;}
#NE { top:0;   left:50%;}
#SW { top:50%; left:0;}
#SE { top:50%; left:50%;}   

.nav-button {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    z-index: 5 !important;

    border-style: solid;
    border-width: 2px;

    color: white !important;
    
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.1);
}
.nav-button div{
    padding: 0 2rem;
}
.nav-button div:hover{
    color: black;
}

.svg-button {
    z-index: -1;

    height: 100%;
    position: absolute;
    top: 0;

    background-color: white;
}


/* MARGIN */
#svg-margin {
    z-index: 3;
    pointer-events: none;
    position: absolute;

    opacity: 0;

    width: 100vw;
    height: 100vh;

    clip-path: polygon(0% 0%,
        calc(50% - 90px) 0,
        calc(50% - 90px) 50%, calc(50% + 90px) 50%,
        calc(50% + 90px) 0,
        100% 0%,
        100% calc(50% - 80px),
        50% calc(50% - 80px), 50% calc(50% + 80px),
        100% calc(50% + 80px),
        100% 100%,
        calc(50% + 150px) 100%,
        calc(50% + 150px) 50%, calc(50% - 150px) 50%,
        calc(50% - 150px) 100%,
        0% 100%,
        0 calc(50% + 80px),
        50% calc(50% + 80px), 50% calc(50% - 80px),
        0 calc(50% - 80px));

}
#svg-margin rect {
    fill: none;
    stroke-width: 2px;
    stroke:white;

    width: calc(100vw - 50px);
    height: calc(100vh - 50px);

    transform: translate(25px, 25px);
}


/* SOCIAL ICONS */
#social {
    z-index: 3;
    position: fixed;

    transform: translate(-50%, 0);

    left: 50vw;
    bottom: -5px;
}
#social a {
    font-size: 30px;

    margin: 20px;

    text-decoration: none;
    color: white;

    opacity: 0;
}


/* TEXT BUTTONS */
.text-but {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    border-bottom: 2px solid white;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 4px;

    z-index: 10;
    display: block;
    position: absolute;
    text-align: center;

    cursor: pointer;

    opacity: 0;
}
.black-highlight {
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 0% 1rem;
}

#contactate {
    left: calc(50vw - 5ch);
    top: 20px;

    font-size: 1rem;
    letter-spacing: 0.075em; 
}
#visitanos {
    left: -30px;
    top: calc(50vh - 1ch);
    transform: rotate(-90deg);

    font-size: 1.1rem;
    letter-spacing: 0.18em;
}
#nosotros {
    right: -30px;
    top: calc(50vh - 1ch);
    transform: rotate(90deg);

    font-size: 1.1rem;
    letter-spacing: 0.18em;
}


/* COCINAS */
.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    z-index: 2;
    display: none;
}
.bg .bg-container {
    opacity: 0;
}

/* MOBILE DEVICES */
@media only screen and (max-device-width: 1000px) and (orientation: portrait) {
    #title {
        width: 70vw;
    }

    .nav-button {
        font-size: 1.3rem;
        letter-spacing: 0.1em;
        line-height: 3.2rem;

        border-width: 3px;

        padding: 12px;
    }
    .nav-button div:hover{
        color: white;
    }

    #contactate {
        font-size: 1.5rem;
        letter-spacing: 0.075em;

        border-bottom: 3px solid white;
        padding-bottom: 4px;
    }
    #visitanos {
        left: -50px;
        top: 45vh;

        font-size: 1.6rem;
        letter-spacing: 0.18em;

        border-bottom: 3px solid white;
        padding-bottom: 4px;
    }
    #nosotros {
        right: -50px;
        top: 45vh;

        font-size: 1.6rem;
        letter-spacing: 0.18em;

        border-bottom: 3px solid white;
        padding-bottom: 4px;
    }

    #svg-margin rect {
        stroke-width: 6px;
    
        width: calc(100vw - 70px);
        height: calc(100vh - 70px);

        transform: translate(35px, 35px);

        clip-path: polygon(0% 0%,
            calc(50% - 130px) 0,
            calc(50% - 130px) 50%, calc(50% + 130px) 50%,
            calc(50% + 130px) 0,
            100% 0%,
            100% calc(50% - 110px),
            50% calc(50% - 110px), 50% calc(50% + 110px),
            100% calc(50% + 130px),
            100% 100%,
            calc(50% + 210px) 100%,
            calc(50% + 210px) 50%, calc(50% - 210px) 50%,
            calc(50% - 210px) 100%,
            0% 100%,
            0 calc(50% + 130px),
            50% calc(50% + 130px), 50% calc(50% - 130px),
            0 calc(50% - 110px));
    }

    #social a {
        font-size: 50px;
        margin: 25px;
    }

    #NW { top:0;   left:0;}
    #NE { top:25%;   left:0;}
    #SW { top:50%; left:0;}
    #SE { top:75%; left:0;}  

    .nav-block {
        height: 25%;
        width: 100%;

        overflow-x: hidden;
        overflow: hidden;
    }
    .nav-block video {
        min-height: 100%;
        max-height: 160%;
    }
}