#titleLogo {
    /* padding-bottom: 150px; */
    width: 45vw;
}

#smallLogo {
    box-shadow: none !important;
}

#boldSpecial1 {
    /*color: #158da5 !important;*/
    font-size: 25px;
    font-family: 'Sedgwick Ave', cursive;
}

#boldSpecial2 {
    color: #158da5 !important;
    /*text-shadow: 0.5px 0.5px rgb(92, 92, 92);*/
    font-family: 'Roboto' sans-serif  !important;
}

.column {
    float: left;
    width: 50%;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;   
}

#pSpecial1 {
    font-size: 14px;
    text-align: left;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif !important;
}

#aboutus {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif !important;
}

h2 {
    text-align: center !important;
}

#messageSent {
    opacity: 0;
}

canvas:focus {outline:0;}

@media only screen and (max-device-width: 480px) {
    .hide-mobile {
        display: none !important;
    }

    #titleLogo {
        padding-top: 100%;
        width: 70vw;
    }

    #smallLogo {
        box-shadow: none !important;
        width: 70vw !important;
    }

    #contact-title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
}

@media only screen and (min-device-width: 480px) {
    .show-mobile {
        display: none !important;
    }
}
